<!-- Footer -->
<footer class="footer footer-dark">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        &copy;  2020 MVC-simple - All Rights Reserved.
    </div>
</footer>
<!-- Footer -->