<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">{{ app_name }}</a>
    <span class="navbar-text">
      <button class="btn btn-outline-light" type="button">Login [in progress]</button>
    </span>
</nav>