{% extends 'base.twig' %}


{% block body %}
    {#
        <p>{{ value|test-filter }}</p>
        This is how to use custom filters declared in src/System/Template/filters.php
        For more information, I am asking you to visit twig's official website
        https://twig.symfony.com/
        #}

    <p>Welcome to my simplified copy of Symfony, Laravel and others <br>
        I used a big amount of their ideas to create this simple MVC- framework just to add the project to my Github <br>
        You can check it out <a href="https://github.com/lVLADl">here</a>.
    </p>
    <hr>
{% endblock %}